name: Build Scrutiny Docker Image

on:
  workflow_dispatch:
    inputs:
      target_image:
        description: '完整的 Docker 镜像名称'
        required: true
        default: 'ghcr.io/analogj/scrutiny:master-web'

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clean up Docker (optional)
        run: |
          docker system prune -a -f || true
          docker volume prune -f || true

      - name: Pull Docker Image
        run: |
          docker pull "${{ github.event.inputs.target_image }}" --platform linux/amd64

      - name: Save Image to Tar and Compress
        run: |
          # 生成安全的文件名：将镜像名中的 / 和 : 替换为 -
          FILENAME=$(echo "${{ github.event.inputs.target_image }}" | sed 's/[\/:]/_/g')
          docker save "${{ github.event.inputs.target_image }}" -o "${FILENAME}.tar"
          gzip -v "${FILENAME}.tar"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scrutiny-docker-image
          path: "*.tar.gz"
