name: Build Scrutiny Image
on:
  workflow_dispatch:
    inputs:
      target_image:
        description: 'Docker image name'
        required: true
        default: 'ghcr.io/analogj/scrutiny:master-web'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Pull Docker Image
        run: docker pull ${{ github.event.inputs.target_image }} --platform linux/amd64
      - name: Save to Tar and Compress
        run: |
          # 将镜像名称中的 '/' 和 ':' 替换为 '_' 作为文件名
          filename=$(echo "${{ github.event.inputs.target_image }}" | sed 's/[\/:]/-/g')
          docker save ${{ github.event.inputs.target_image }} -o "${filename}.tar"
          gzip "${filename}.tar"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scrutiny-image
          path: *.tar.gz

    - name: Pull Docker Images and Package
      run: |
        images="${{ github.event.inputs.docker_images }}"
          IFS=',' read -r -a image_array <<< "$images"
          for image in "${image_array[@]}"; do
            docker pull "${image}" --platform "linux/amd64"
            image_name="${image//\//_}"
            image_name="${image_name//:/_}"
            docker save "${image}" -o "${image_name}-amd64.tar"
            gzip -c "${image_name}-amd64.tar" > "${image_name}-amd64.tar.gz"
            rm "${image_name}-amd64.tar"
          done

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: ${{ github.workspace }}/*.tar.gz
        retention-days: 1  # 将保留天数设置为 1 天 最多可设置90天
