name: Build Scrutiny Latest Image

on:
  workflow_dispatch:  # 这表示允许手动触发运行

jobs:
  build:
    runs-on: ubuntu-latest  # 在最新的Ubuntu系统上运行
    steps:
      # 第一步：拉取官方最新版镜像
      - name: Pull Scrutiny Image (latest tag)
        run: docker pull ghcr.io/analogj/scrutiny:master-omnibus --platform linux/amd64

      # 第二步：将镜像保存并压缩为 .tar.gz 文件
      - name: Save and Compress Image
        run: |
          docker save ghcr.io/analogj/scrutiny:master-omnibus -o scrutiny_omnibus.tar
          gzip scrutiny_latest.tar

      # 第三步：将打包好的文件上传，供你下载
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scrutiny-latest-amd64  # 下载的压缩包会叫这个名字
          path: scrutiny_latest.tar.gz # 上传我们刚做好的文件
